<% p = asset.is_a?(Pseudonym) ? asset : asset.pseudonym %>
<% define_content :link do %>
  <%= profile_url %>
<% end %>

<% define_content :subject do %>
  <%= t :subject, "On Guard Registration Complete" %>
<% end %>

<p><%= t :body, "You have been registered for an On Guard account with %{account}!", :account => p.user.on_guard_organization.name %></p>

<a href="<%= content(:link) %>">
  <%= t :link, "Click here to #{p.user.on_guard_supervisor ? "manage your account and " : ""} take your training" %>
</a>
